input {
    keyboard { 
        xkb { 
            layout "no" 
            variant "nodeadkeys"
        } 
    }

    touchpad {
        tap
        drag true
        drag-lock
        scroll-method "two-finger"
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20
    hide-when-typing
}

layout {
    gaps 2
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0 
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#DC6666"
        inactive-color "#505050"
    }

    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts { }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "waybar"
spawn-at-startup "/run/current-system/sw/bin/sunsetr"
spawn-at-startup "hyprlock"


animations { }

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

workspace "main" {}

window-rule {
    open-on-workspace "main"
}

gestures {
    hot-corners {
        off
    }
}


switch-events {
    lid-close { spawn "hyprlock"; }
}

binds {
    // Core apps
    Mod+T { spawn "alacritty"; }
    Mod+Space { spawn "fuzzel"; }

    // Personal apps 
    Mod+Shift+T { spawn "nvim-home"; }
    Mod+D { spawn "vesktop"; }
    Mod+C { spawn "codium"; }
    Mod+E { spawn "element-desktop"; }
    Mod+B { spawn "librewolf"; }
    Mod+F { spawn "cosmic-files"; }
    Mod+S { spawn "spotify"; }

    // Window control
    Mod+Q { close-window; }

    // Column navigation
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }

    Mod+Aring { focus-column-first; }
    Mod+Diaeresis { focus-column-last; }
    
    Mod+Shift+Aring { move-column-to-first; }
    Mod+Shift+Diaeresis  { move-column-to-last; }

    // Inside colums    
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K  { move-window-up; }

    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Shift+U { consume-or-expel-window-left; }
    Mod+Shift+I { consume-or-expel-window-right; }

    // Special Column movements
    Mod+A { maximize-column; }
    Mod+Shift+A { set-window-width "50%"; }
    Mod+M { expand-column-to-available-width; }
    Mod+Shift+M { maximize-window-to-edges; }
    Mod+X { center-column; }
    Mod+Shift+X { reset-window-height; }


    // Finer height and widht adjustments 
    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    
    // Audio
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "1"; }

    // Player
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Sleep
    XF86Sleep { spawn "hyprlock" "power-off-monitors"; }
}
