input {
    keyboard { 
        xkb { 
            layout "no" 
        } 
    }

    touchpad {
        tap
        drag true
        drag-lock
        scroll-method "two-finger"
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20
    hide-when-typing
}

layout {
    gaps 2
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#DC6666"
        inactive-color "#505050"
    }

    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts { }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "waybar"
spawn-at-startup "/run/current-system/sw/bin/sunsetr"
spawn-at-startup "hyprlock"


animations { }

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

switch-events {
    lid-close { spawn "hyprlock"; }
}

binds {
    // Core apps
    Mod+T { spawn "alacritty"; }
    Mod+Space { spawn "fuzzel"; }

    // Personal apps 
    Mod+Shift+T { spawn "alacritty" "-e" "nvim"; }
    Mod+D { spawn "vesktop"; }
    Mod+C { spawn "codium"; }
    Mod+E { spawn "element-desktop"; }
    Mod+B { spawn "librewolf"; }
    Mod+F { spawn "cosmic-files"; }
    Mod+S { spawn "spotify"; }

    // Window control
    Mod+Q { close-window; }
    Mod+O repeat=false { toggle-overview; }

    // Vim-style navigation
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }

    // Workspaces
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K  { move-column-to-workspace-up; }
    
    // Layout control
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+A { maximize-column; }
    Mod+M { maximize-window-to-edges; }
    Mod+X { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    // Floating / tiling
    Mod+Shift+V { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }

    // Screenshots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // System
    Mod+Shift+E { quit; }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "1"; }

    // Player
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
}
